<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>LSUIElement</key>
  <true/>
  <key>CFBundleDocumentTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeName</key>
      <string>LiveMarkdown</string>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>LSItemContentTypes</key>
      <array>
        <string>dev.livebook.livemarkdown</string>
      </array>
    </dict>
  </array>
  <key>UTExportedTypeDeclarations</key>
  <array>
    <dict>
      <key>UTTypeConformsTo</key>
      <array>
        <string>public.data</string>
      </array>
      <key>UTTypeDescription</key>
      <string>Livebook</string>
      <key>UTTypeIcons</key>
      <dict>
        <key>UTTypeIconBadgeName</key>
        <string>Icon</string>
        <key>UTTypeIconText</key>
        <string>Livebook</string>
      </dict>
      <key>UTTypeIdentifier</key>
      <string>dev.livebook.livemarkdown</string>
      <key>UTTypeTagSpecification</key>
      <dict>
        <key>public.filename-extension</key>
        <array>
          <string>livemd</string>
        </array>
      </dict>
    </dict>
  </array>
</dict>
</plist>
