/*
Variables for HTML-ized ANSI string.

Many colors are taken from the One Light theme
to be consistent with the editor.
*/

:root {
  --ansi-color-black: black;
  --ansi-color-red: #ca1243;
  --ansi-color-green: #50a14f;
  --ansi-color-yellow: #c18401;
  --ansi-color-blue: #4078f2;
  --ansi-color-magenta: #a726a4;
  --ansi-color-cyan: #0184bc;
  --ansi-color-white: white;
  --ansi-color-light-black: #5c6370;
  --ansi-color-light-red: #e45649;
  --ansi-color-light-green: #34d399;
  --ansi-color-light-yellow: #fde68a;
  --ansi-color-light-blue: #61afef;
  --ansi-color-light-magenta: #c678dd;
  --ansi-color-light-cyan: #56b6c2;
  --ansi-color-light-white: white;
}

/* The same as above but brightned by 10% */
[data-editor-theme="default"] {
  --ansi-color-red: #dd1f53;
  --ansi-color-green: #5ab756;
  --ansi-color-yellow: #d9930b;
  --ansi-color-blue: #4d8cfb;
  --ansi-color-magenta: #b02fbb;
  --ansi-color-cyan: #05a4d0;
  --ansi-color-light-black: #676e7b;
  --ansi-color-light-red: #f35c57;
  --ansi-color-light-green: #42dcab;
  --ansi-color-light-yellow: #fdea9a;
  --ansi-color-light-blue: #77c0fc;
  --ansi-color-light-magenta: #d181e5;
  --ansi-color-light-cyan: #64ccda;
}
