@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "nprogress/nprogress.css";

@import "./global.css";
@import "./components.css";
@import "./utilities.css";
@import "./live_view.css";
@import "./markdown.css";
@import "./ansi.css";
@import "./js_interop.css";
