/* Hide Phoenix live reload frame */
iframe[hidden] {
  display: none;
}

/* LiveView specific classes */

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-loading * {
  pointer-events: none;
}
