@layer utilities {
  /* A set of reusable classes */

  .bg-editor {
    background-color: #282c34;
  }

  body[data-editor-theme="highContrast"] .bg-editor {
    background-color: #fafafa;
  }

  body[data-editor-theme="highContrast"] .monaco-editor .line-numbers.active-line-number {
    color: #304254;
  }

  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-0 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-1 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-2 {color: #005999;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-3 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-4 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-5 {color: #005999;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-6 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-7 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-8 {color: #005999;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-9 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-10 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-11 {color: #005999;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-12 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-13 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-14 {color: #005999;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-15 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-16 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-17 {color: #005999;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-18 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-19 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-20 {color: #005999;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-21 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-22 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-23 {color: #005999;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-24 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-25 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-26 {color: #005999;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-27 {color: #615200;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-28 {color: #92268E;}
  body[data-editor-theme="highContrast"] .monaco-editor .bracket-highlighting-29 {color: #005999;}

  .text-editor {
    color: #c4cad6;
  }

  .font-editor {
    font-family: "JetBrains Mono", "Droid Sans Mono", "monospace";
    font-variant-ligatures: none;
    font-size: 14px;
  }

  .shadow-xl-center {
    box-shadow: 0 0 25px -5px rgba(0, 0, 0, 0.1),
      0 0 10px -5px rgba(0, 0, 0, 0.04);
  }

  .shadow-custom-1 {
    box-shadow: 10px 5px 25px -8px rgba(0, 0, 0, 0.2);
  }

  .flip-horizontally {
    transform: scaleY(-1);
  }

  /* Animations */

  .fade-in {
    animation: fade-in-frames 200ms ease-out;
  }

  .fade-out {
    animation: fade-out-frames 200ms ease-in;
  }

  @keyframes fade-in-frames {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out-frames {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .delay-200 {
    animation: delay-frames 200ms;
  }

  @keyframes delay-frames {
    0% {
      opacity: 0;
      height: 0;
      width: 0;
    }
    99% {
      opacity: 0;
      height: 0;
      width: 0;
    }
    100% {
    }
  }
}
