<main
  id="live-main"
  role="main"
  class="grow flex flex-col h-screen"
  phx-hook="DisableZoomOnInputFocus"
>
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>

<.confirm_root confirm_state={@confirm_state} />
