<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title><%= @status %> - Livebook</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <div class="h-screen flex items-center justify-center bg-gray-900">
      <div class="flex flex-col space-y-4 items-center">
        <a href="/">
          <img src="/images/logo.png" height="128" width="128" alt="livebook" />
        </a>
        <div class="text-2xl text-gray-50">
          Authentication required
        </div>

        <div class="max-w-2xl text-center text-gray-300">
            Please check out the console for authentication URL
            or type the token directly here.
        </div>

        <div class="text-2xl text-gray-50 w-full pt-2">
          <form method="get" class="flex flex-col space-y-4 items-center">
            <input type="text" name="token" class="input" placeholder="Token" autofocus />
            <button type="submit" class="button button-blue">
              Authenticate
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
